.pokemonContainer{
    width:50%; 
    height:100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.moveContainer__move{
    padding: 1rem 1.5rem;
    background-color:rgba(255, 255, 255, 0.89);
    border: 2px rgba(52, 52, 52, 0.411) solid;
    border-radius: 1rem;
    color: rgb(41, 41, 41);
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.moveContainer__move:hover:enabled{
    border: 2px solid rgb(56, 197, 56);
    background-color: rgba(120, 252, 138, 0.801);
    transition: background-color .1s linear;
    cursor: pointer;
}

.moveContainer__move:disabled{
    border: 2px solid rgb(194, 194, 194);
    background-color: rgba(190, 190, 190, 0.801);
}

.hpBar{

    height:1rem; 
    background-color:rgba(66, 255, 66, 0.699);
    border-radius: 1rem;
}

.hpBarContainer{
    width:40%; 
    height:1rem; 
    border-radius:1rem; 
    background-color:grey
}